@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body{
  background: rgb(7,23,56);
  background: linear-gradient(0deg, rgba(7,23,56,1) 0%, rgba(2,38,88,1) 95%);
}

.menu {
  padding: 1rem;
}

.container {
  width: 1700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
}

.slider {
  top: 40px;
  left: -1px;
  width: 300px;
  height: 300px;
  position: absolute;
}

.menu-container {
  border-radius: 0 1.2rem 1.2rem 0;
  padding: .1rem;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #018af9;
  color: #fff;
}

.menu-container__comments,
.menu-container__user{
  text-align: center;
}


/*------user---------*/
.users {
  margin-top: 2rem;
  margin-left: 10rem;
  width: 800px;
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
  background: #018af9;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users__title {
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.users__list {
  width: 500px;
  margin-right: 4rem;
}

.users__text {
  padding-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.users__name {
  padding-right: 1rem;
}

.users__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.carousel {
  padding-bottom: 2rem;
}


/*-------Detalles del user---------*/
.users__details-title {
  margin-right: 10rem;
  font-family: 'Lato', sans-serif;
}

.users__details {
  width: 560px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users__details-table {
  width: 555px;
  margin-right: 5rem;
  margin-top: 3rem;
}

.users__details-button {
  margin-top: 1.4rem;
  display: flex;
  margin-left: 17rem;
}


/*------comments--------*/
.comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30rem;
  margin-bottom: 3rem;
  width: 1000px;
}

.comments__title {
  margin-left: 2rem;
  font-family: 'Lato', sans-serif;
}

.comments__list {
  margin-bottom: 3rem;
}

.comment-box{
  background: #ffffff;
  width: 1000px;
  box-shadow: 1px 1px 5px #000000;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
  transition: .5s ease;
  display:inline-block;
}

.comment-box:hover {
  scale: calc(1.01);
}

.comments__pagination {
  border-radius: 1rem;
  padding: .5rem 4rem .5rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
}

.comments__pagination:hover {
  background: #ffffff;
  scale: calc(1.01);
}

/*-------new-user-form---------*/
.new-user {
  bottom: 10rem;
  right: 10rem;
  position: fixed;
  width: 650px;
  height: 600px;
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem;
  background: #018af9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-user__list {
  width: 570px;
}

.new-user__title {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.new-user__text {
  padding-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 5rem;
  margin-right: 5rem;
}



/*-------form---------*/
.registration-form {
  padding: .5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.registration-form__form-container {
  font-family: 'Courier New', Courier, monospace;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.registration-form__title {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.registration-form__form {
  display: flex;
  flex-direction: column;
}

.registration-form__field {
  margin-bottom: 15px;
}

.registration-form__label {
  font-weight: bold;
  margin-bottom: 5px;
}

.registration-form__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.registration-form__error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.registration-form__submit-button {
  position: relative;
  top: 2rem;
  left: 18.7rem;
  background:#018af9;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: .6rem 2rem .7rem 2rem;
  font-size: 16px;
  cursor: pointer;
  transition: .5s ease;
}

.registration-form__submit-button:hover {
  background-color: #0056b3;
  scale: calc(1.01);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.registration-form__table-button {
  height: 50px;
}

.registration-form__table-container {
  width: 630px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form__table {
  border-radius: 1rem;
  width: 555px;
  max-height: 139px;
  overflow-y: auto;
}

.registration-form__button {
  margin-top: 6rem;
  margin-left: 29rem;
}

.custom-button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 6rem;
  color: #fff;
  bottom:24rem;
  left: 10rem;
}

.registration-form__table-button-add{
  margin-top: .3rem;
  width: 20px;
}